body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #1215ba;
}

.loader,
.error {
  display: none;
  color: red;
  font-size: 18px;
}

.select-wrapper {
  margin-top: 30px;
}

.cat-info {
  display: none;
  margin-top: 20px;
  border: 1px solid #aee90b;
  padding: 10px;
  text-align: left;
}

.cat-info img {
  max-width: 100%;
  height: auto;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
